<div class>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">REV Parameters</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Search" routerLinkActive="active">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Compare" routerLinkActive="active">Compare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/THM" routerLinkActive="active">THM</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div style="background-color: #fffbf1;"><br></div>

<div class="container-fluid " style="background-color: #fffbf1;">
  <router-outlet></router-outlet>
</div>

